plugins:
  - node
  - unicorn
  - prettier

extends:
  - eslint:recommended
  - plugin:unicorn/recommended
  - plugin:node/recommended
  - xo/esnext
  - prettier

rules:
  # unicorn https://github.com/sindresorhus/eslint-plugin-unicorn
  unicorn/filename-case: 0